{% extends "base.html" %}
{% block content %}
<p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>
<p>Add a new entry:</p>
<form action="{% url 'new_entry' topic.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
<button name='submit'>add entry</button>
</form>
{% endblock content %}